body {
    font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.header nav img{

    height: 42px;
    width: auto;
    margin-top: 11px;

}

.custom-navbar {

    padding: 0 100px;
    background-color: rgb(57, 54, 67, 0.9);
    border-bottom: 1px solid #163e37;
}

.header{
    background-image: url("../images/header_image.png");
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
   
}

.header .container {
    text-align: center;
    color: white;
    padding-top: 200px;
}

.header .container h1{

    font-size: 96px;
    
    font-weight: 400;

}
.header .container h2{

    font-size: 30px;
    font-weight: 100;

}
.header .container h6{

    font-weight: 500;
    margin-top: 30px;

}

.container.white-section{
    height:80vh;
    text-align: center;
    padding: 100px 10%;
    min-width: 100%;
    background: #D3CCE3;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #ffffff, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #ffffff, #D3CCE3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.container.white-section img {
    margin-top: 0px;
    margin-bottom: 20px;
    width: 110px;
    height: auto;
 }
/* BERININ DODANI DIO*/
.about-us-row{
    margin-bottom: 0px;
}
.about-us-text{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
h1{
    font-weight: 100;
}
.service-header{
    margin-top: 0px;
    font-weight: 100;
    font-size: 3em;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 0px;
    letter-spacing: 1px;    
    font-family: Roboto;

}
.service-header:after {
    display: block;
    height: 2px;
    background-color: #00ae8e;
    content: " ";
    width: 100px;
    margin-top:20px;
    margin-bottom: 0px;
    margin-left:auto;
    margin-right:auto;
   
}
.service-header3{
    text-align: center;
    font-weight: 100;
    margin: 0% auto;
    margin-bottom: 20px;
    font-size: 1.5em;
    display: block;
    color: white;
}
.team-header3{
    text-align: center;
    font-weight: 300;
    margin: 0% auto;
    margin-bottom:0px;
    font-size: 1.5em;
    display: block;
    color: #414141;
}
.about-us-header{
    margin-top: 0px;
    font-weight: 300;
    font-size: 3em;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 0px;
    letter-spacing: 1px;    
    font-family: Roboto;
    color:rgb(41, 41, 41);

}
.about-us-header:after {
    display: block;
    height: 2px;
    background-color: #00ae8e;
    content: " ";
    width: 100px;
    margin: 20px auto;
    margin-bottom: 0px;
   
}
.team-header{
    margin-top: 100px;
    font-weight: 300;
    font-size: 3em;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 0px;
    letter-spacing: 1px;    
    font-family: Roboto;
    color:rgb(41, 41, 41);

}
.team-header:after {
    display: block;
    height: 2px;
    background-color: #00ae8e;
    content: " ";
    width: 100px;
    margin: 20px auto;
   
}
.about-us{
    color:#414141;
    font-weight: 300;
    font-size:20px ;
}
.circle{
    height: 68px;
    width: 68px;
    border-radius: 50%;
    background-color: #00ae8e;
    margin-bottom: 40px;
    text-align: center;
    color: white;
    font-size: 28px;
    padding: 10px;
    font-weight: 700;
}

.circle:hover{
    background-color: white;
    color: black;
    transition-duration: 700ms;
}

.features {
    color: white;
    margin-top: 80px;
    

}
.large-text{
    font-weight: 300;
}

.features h5 {
    letter-spacing: 1px;
    font-family: Roboto;
    font-weight: 400;
    margin-bottom: 30px;
    font-size: 20px;
}
.features p {
    color: #9a9a9a;
    font-weight: 400;
   font-size: 16px;
}
.gradient {
    background: #393643; /* Old browsers */
background: -moz-linear-gradient(top, #393643 0%, #0b0b0d 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #393643 0%,#0b0b0d 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #393643 0%,#0b0b0d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
padding: 100px 0;
}

.gradient h2 {
    color: white;
}
.gradient .padding-right{
    padding-right: 50px;
    
}

.team{
    text-align: center;
    padding: 100px 10%;
}
.rectangle {
    margin-top: 100px;
    text-align: center;
    padding: 20px 10% ;
    margin-bottom: 80px;
    
    -webkit-box-shadow: 0px 9px 9px 0px rgba(0,0,0,0.20);
-moz-box-shadow: 0px 9px 9px 0px rgba(0,0,0,0.20);
box-shadow: 0px 9px 9px 0px rgba(0,0,0,0.20);

    

}

.rectangle img {
    border-radius: 50%;
    width: 70%;
    height: auto;
    margin-bottom: 20px;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    
}

.rectangle h4{
    margin: 0px;
    font-size: 22px;
}

.icon {
    text-align: center;
 

}

.icon img {
    width: 100%;
    height: auto;
    margin-top: 40px;
    margin-bottom: 0;
    padding: 20%;
    opacity: 1;

    
}

.gradient-lighter{
    
    background: #D3CCE3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #ffffff, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #ffffff, #D3CCE3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }


.icon img:hover{
    opacity: 0.4;
}

.phone-time img{
    width:100%;
    height:auto;
    -webkit-box-shadow: 0px 9px 9px 0px rgba(0,0,0,0.20);
    -moz-box-shadow: 0px 9px 9px 0px rgba(0,0,0,0.20);
    box-shadow: 0px 9px 9px 0px rgba(0,0,0,0.20);
}

.great-things h6{
    color: #00ae8e;
}

.great-things{
    text-align: left;
    margin-top: 80px;
}
.great-things h6,h4{
    margin: 0;
}

.great-things h4 {
    font-weight: 600;
}

.great-things h6{
    font-weight: 500;
    margin-bottom: 20px;
}

.great-things h5{
    margin-top: 10px;

}

.contact {
    background-image: url("../images/form.png");
    background-size: cover;
   padding: 80px 0px;
   margin-top: 0;
   color: white;
}


.input-field{
    color: white;
}

#textarea2,#first_name,#email,#icon_telephone{
    color: white;
}

.contact h6 {
    color: #00ae8e;
}

.contact h3,h4{
    margin: 0;
}

.contact h4{
    margin-top: 10px;
}

@media screen and (max-width: 600px){
    

   .nav-wrapper{

       position: absolute;
   }
    
    .padding-right {
        width: 100%;
        border-bottom: 1px solid #dbdbdb;
        padding-bottom: 2.5em;
        margin-bottom: 3em;
    }

        .padding-right:last-child {
            border: none;
            padding-bottom: 0;
            margin: 0 0 1em 0;
        }

        .padding-right:before {
            display: none;
        }

   
    .header .container h1{
        
        font-size: 48px;
      
    }

    .header .container h2{
        font-size: 24px;
    }

    .header-text br {
        display: none;
    }

    .header{
        height: 60vh;
    }

    .header .container{
        padding: 0;
    }

     .container.white-section img {
         width: 80px;
         height: auto;
     }

     .container.white-section{
         padding: 40px 0;
     }

     .rectangle {
         margin: 40px 0;
     }

     .team h5{
         font-size: 24px;
     }
     .team h2{
        font-size: 38px;
        font-weight: 500;
    }

    .container .team {
        padding: 40px 0;
    }

    .large-text{
        font-size: 38px;
    }

    .gradient {
        padding: 40px 0;
    }
    .padding-right h5{
        font-size:18px;

    }
 .custom-navbar{
     
     padding: 0 10px;
 }

 #time-keeper-logo{
    display: none;
 }
 .header .header-text .logo-large{
    display:block;
    width: 30%;
    margin: 0 auto;
    margin-top: 20px;
}
}
@media screen and (max-width: 730px){
    .padding-right h5{
        font-size:1.64rem;

    }

}
@media screen and (min-width: 600px){
    .header .header-text .logo-large{
        display:none;
    }
}

/*BERININ DIO ZA SERVISE*/
.padding-right
{
    position: relative;}
.padding-right::before{
    content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	right: 2em;
	top: 0;
	border-right: 1px solid #dbdbdb;
	pointer-events: none;
}
.padding-right:last-child:before {
    border: none;
}

footer{
    background-color: rgb(63, 63, 63);
    padding: 20px;
    font-size:80%;
    color: #bbbaba;

}
footer p{
    text-align: center;
}