@media screen and (min-width: 1200px) {
    .slick-list {
        position: relative !important;
        display: block !important;
        overflow: hidden !important;
        margin: 0 auto !important;
        width: 1000px !important;
    }
        
        .members .slick-prev {
            left: 4% !important;
            z-index: 1;
            color: black;
        }
        .members .slick-next {
            right: 9.5% !important;
            z-index: 1;
            color: black;
        }
        .slick-prev:before,
        .slick-next:before {
            color: rgb(0, 0, 0) !important;
        }
        
    }

.userCard{
    margin: 0;
}

.teams{
  
    display: inline-block;
}
.btn-teams{
 
  float:right;
}