.crud-top {
	padding-top: 2rem;
	text-align: center;
	height: 20rem;
	background-position: top;
	background-size: cover;
	z-index: 20;
	-webkit-box-shadow: 0px 9px 9px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 9px 9px 0px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 9px 9px 0px rgba(0, 0, 0, 0.2);
	color: var(--light);
}
.crud-table {
	margin-top: -8rem;
}
