<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,300i,400,400i,500&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  <link rel="stylesheet" type="text/css" href="../assets/styles/style.css" />
  <title>TimeKeeper</title>
</head>

<body>
  <!-- Header section -->

  <div class="header " id="home">
    <div class="navbar-fixed">
    <nav class="custom-navbar ">
      <div class="nav-wrapper">
        <a href="#home" class="brand-logo"><img id="time-keeper-logo" src="../assets/images/logo.svg" /></a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons"><img
              src="../assets/images/hamburger.svg" /></i></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="#about">About us</a></li>
          <li><a href="#services">Services</a></li>
          <li><a href="#staff">Our staff</a></li>
          <li><a href="#contact">Contact us</a></li>
          <li><a class="waves-effect waves-light btn">Login</a></li>
        </ul>
      </div>
    </nav>
  </div>
    <ul class="sidenav" id="mobile-demo">
        <li><a href="#about">About us</a></li>
        <li><a href="#services">Services</a></li>
        <li><a href="#staff">Our staff</a></li>
        <li><a href="#contact">Contact us</a></li>
      <li><a class="waves-effect waves-light btn">Login</a></li>
    </ul>

    <div class="container header-text" >
      <img class="logo-large" src="../assets/images/logo.svg" />
      <h1>TimeKeeper</h1>
      <h2>
        Save time for doing great work.<br />Keep progressing. Keep Time.
      </h2>
      <h6>This is the tool for productive people.</h6>
    </div>
  </div>
  <!-- Section 1 -->
  <div class="container white-section" id="about">
    <div class="row about-us-row">

      <h2 class="about-us-header">About us<h2>

    </div>
    <img src="../assets/images/stopwatch.svg" />
    <div class="about-us-text">
      <h6 class="about-us">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.

        </h5>
    </div>
  </div>
  <!-- Service list section -->
  <div class="gradient" id="services">
    <div class="container">
      <div class="row">

        <h2 class="service-header">Services<h2>
            <h3 class="service-header3">Our service saves time but goes way beyond time</h3>

      </div>
      <div class="row features">
        <div class="col s12 m4 padding-right">

          <h5>WEB APPLICATIONS</h5>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua
          </p>
        </div>
        <div class="col s12 m4 padding-right">

          <h5>CYBER SECURITY</h5>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua
          </p>
        </div>
        <div class="col s12 m4 padding-right">

          <h5>MOBILE FIRST</h5>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- Section Team -->
 
  <div class="container staff" id="staff">
    <div class="row">

      <h2 class="team-header">Our staff<h2>
          <h3 class="team-header3">Meet the team</h3>


    </div>
    <div class="row">
      <div class="col m4 s12">
        <div class="rectangle">
          <img src="../assets/images/pic02.jpg" />
          <h4>
            Mersiha Ćeranić
          </h4>
          <h6>
            Developer

          </h6>

          <div class="row">
            <div class="col s4 icon">
              <img src="../assets/images/twitter.svg" />
            </div>
            <div class="col s4 icon">
              <img src="../assets/images/facebook.svg" />
            </div>
            <div class="col s4 icon">
              <img src="../assets/images/linkedin.svg" />
            </div>
          </div>
        </div>
      </div>
      <div class="col m4 s12">
        <div class="rectangle">
          <img src="../assets/images/pic05.jpg" />
          <h4>
            Halid Osmanović
          </h4>
          <h6>
            Developer

          </h6>
          <div class="row">
            <div class="col s4 icon">
              <img src="../assets/images/twitter.svg" />
            </div>
            <div class="col s4 icon">
              <img src="../assets/images/facebook.svg" />
            </div>
            <div class="col s4 icon">
              <img src="../assets/images/linkedin.svg" />
            </div>
          </div>
        </div>
      </div>
      <div class="col m4 s12">
        <div class="rectangle">
          <img src="../assets/images/pic01.jpg" />
          <h4>
            Berina Omerašević
          </h4>
          <h6>
            Developer
          </h6>
          <div class="row">
            <div class="col s4 icon">
              <img src="../assets/images/twitter.svg" />
            </div>
            <div class="col s4 icon">
              <img src="../assets/images/facebook.svg" />
            </div>
            <div class="col s4 icon">
              <img src="../assets/images/linkedin.svg" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col m4 offset-m2 s12">
        <div class="rectangle">
          <img src="../assets/images/pic04.jpg" />
          <h4>
            Hamza Crnovršanin
          </h4>
          <h6>
            Developer
          </h6>
          <div class="row">
            <div class="col s4 icon">
              <img src="../assets/images/twitter.svg" />
            </div>
            <div class="col s4 icon">
              <img src="../assets/images/facebook.svg" />
            </div>
            <div class="col s4 icon">
              <img src="../assets/images/linkedin.svg" />
            </div>
          </div>
        </div>
      </div>
      <div class="col m4 s12">
        <div class="rectangle">
          <img src="../assets/images/pic03.jpg" />
          <h4>
            Jelena Čurak
          </h4>
          <h6>
            QA Engineer
          </h6>
          <div class="row">
            <div class="col s4 icon">
              <img src="../assets/images/twitter.svg" />
            </div>
            <div class="col s4 icon">
              <img src="../assets/images/facebook.svg" />
            </div>
            <div class="col s4 icon">
              <img src="../assets/images/linkedin.svg" />
            </div>
          </div>
        </div>
      </div>
    
    </div> 
  </div>

  <!-- Contact section -->
  <div class="contact" id="contact">
    <div class="container">
      <div class="row">
        <div class="col m4 s12">
          <h6>TIME IS RELATIVE</h6>
          <h3>Contact us.</h3>
          <h5>We like to improve</h5>
        </div>
        <div class="col m4 s12">
          <div class="input-field ">
            <input id="first_name" type="text" class="validate" />
            <label for="first_name">First Name</label>
          </div>
          <div class="input-field">
            <input id="email" type="email" class="validate" />
            <label for="email">Email</label>
          </div>
          <div class="input-field">
            <input id="icon_telephone" type="tel" class="validate" />
            <label for="icon_telephone">Telephone</label>
          </div>
        </div>
        <div class="col m4 s12">
          <div class="input-field">
            <textarea id="textarea2" class="materialize-textarea" data-length="250"></textarea>
            <label for="textarea2">Message</label>
          </div>
          <a class="waves-effect waves-light btn">Send Message</a>
        </div>
      </div>
    </div>
  </div>
  <footer>
      <p>
        Copyright &copy; by Gigi School of Coding. All rights reserved.
      </p>
  </footer>
  <script src="../assets/scripts/menu.js"></script>
</body>

</html>