.boxCalender{
   height: auto;
   width: 50%;
}

.tp-calendar{
    height: auto;
    width: 50%;
}

.e-schedule .e-vertical-view .e-all-day-appointment-wrapper .e-appointment{
    background-color: #26a69a !important;
}