.btn.learnMore{
    text-align: center !important;
    justify-content: center !important;
    background-color: #26a69a !important;
    color: white !important;
    margin-left: 85px;
    width: 80%;

}

