@media screen and (max-width: 1000px) {
    .nav-wrapper {
        position: absolute;
    }
    #time-keeper-logo {
        display: none;
    }
    #mobile-demo {
        margin-left: 0px;
        padding-left: 0px;
    }
    .custom-navbar {
        padding: 0 1em !important;
        background-color: rgb(57, 54, 67, 0.9);
        border-bottom: 1px solid #163e37;
    }
}
.custom-navbar {
    padding: 0 4em;
    background-color: rgb(57, 54, 67, 0.9);
    border-bottom: 1px solid #163e37;
}

nav .brand-logo {
    position: relative;
}
.ReactModal__Overlay--after-open {
    z-index: 1000;
    background-color: rgba(128, 128, 128, 0.397) !important;
}
.ReactModal__Content--after-open {
    width: 800px;
    height: 500px;
    position: initial !important;
    margin: 80px auto !important;
    display: flex !important;
}
.loginHeader1 {
    font-size: 20px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    font-weight: bold;
}
.loginHeader2 {
    font-size: 18px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
